@media screen and (min-width: 750px) {
  .container {
      display: flex;
      flex-direction: row;
  }

  main {
      display: flex;
      flex: 1;
  }

  .sub-section {
      display: flex;
      flex-direction: column;
      flex: 1;
  }

  .nav-bar {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: left;
  }

  .site-nav {
      padding: 0;
      display: block;
  }

  .menu-button {
      display: none;
  }

  #site-title {
      padding: 0.5rem;
      font-size: 1.75rem;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
}
}
