@media screen and (min-width: 750px){
    #album {
        grid-template-columns: repeat(3, 1fr);
    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
    }

    .site-nav {
        padding: 0;
        display: block;
    }

    .menu-button {
        display: none;
    }

    #site-title {
        padding: 0.5rem;
        font-size: 1.75rem;
    }
}