:root {
    --primary-color: #347B98;
    --secondary-color: #FCCB1A;
    --third-color: #092834;
    --main-background: #F7F0D4;
    --contract-color: #C21460;
  }

@media screen and (min-width: 750px){
    main {
        display: grid;
        grid-template-columns: 22rem 1fr 17rem;
        grid-template-rows: 16rem 16rem;
    }

    .flex {
        justify-content: flex-start;
    }

    picture {
        grid-row: 1 / 3;
        grid-column: 1 / 4;
    }

    .data {
        margin: 1rem 0 0 2rem;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 21rem;
        height: 17rem;
    }

    .weather {
        position: absolute;
        right: 25px;
        top: 375px;
        margin: 0 0 1rem 0;
        width: 17rem;
        height: 15rem;
        /* margin-left: -30px; */
        /* grid-column: 3 / 4; */
        /* grid-row: 2 / 3; */
    }

    h2 {
        background-color: var(--secondary-color);
        margin-left: -1rem;
        padding: 1rem 0 1rem 10px;
    }

    img {
        grid-column: 1 / 4;
        grid-row: 1 / 3;
        width: 100%;
        height: 100%;
    }

    div {
        padding: 0;
        background-color: #fff;
        opacity: 92.5%;
    }

    div:first-child {
        margin-left: 15px;
    }

    span {
        padding-right: 1rem;
        text-align: right;
    }

    .values {
        margin-left: 0rem;
    }

    .weather h2::after {
        content: " ⛅";
    }

    .svg {
        display: none;
    }

    h2 {
        text-align: left;
    }
}