/* @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Mooli&display=swap'); */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    --primary-color: #01295f;
    --secondary-color: #2a3238;
    --hover-color: #9bc53d;

    --header-font: "Mooli", sans-serif;
    --body-font: "Merriweather", serif;
}

body {
    width: 100%;
}

header {
    background-color: var(--primary-color);
    color: #fff;
    font-family: var(--header-font);
}

h1,
h2 {
    font-family: var(--header-font);
    font-weight: 900;
    font-style: italic;
}

p,
figcaption,
span,
a {
    font-family: var(--body-font);
    font-weight: 300;
    font-style: normal;
}

#site-title {
    font-size: 1.5rem;
    margin: 0 0.5rem;
}

.flex-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    flex-wrap: wrap;
}

.site-nav {
    background-color: rgb(0, 0, 0, 0.75);
    font-family: var(--header-font);
    display: none;
    flex-basis: 100%;
}

.nav-bar li {
    list-style: none;
    width: 100%;
}

.site-nav.open {
    display: block;
}

.nav-bar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
    width: 100%;
    display: block;
    padding: 0.25rem 0.5rem;
    background-color: rgba(0, 0, 0, 0.75);
}

.active {
    text-decoration: underline !important;
}

.nav-bar a:hover {
    transition: background-color 0.75s ease;
    background-color: var(--hover-color);
}

.menu-button {
    background-color: transparent;
    border: none;
    font-size: 1.75rem;
    color: #fff;
    justify-self: right;
    margin-right: 0.5rem;
}

.menu-button::before {
    content: "☰";
}

.menu-button.open::before {
    content: "❌";
}

main {
    max-width: 960px;
    min-width: 60vw;
    margin: auto;
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    justify-items: center;
}

#page-title {
    grid-column: 1/-1;
    width: 100%;
}

figure,
img,
figcaption {
    max-width: 100%;
}

figure {
    width: fit-content;
}

footer {
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.25rem;
    text-align: center;
    padding: 1rem;
}